/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #f6faff
}

.btn {
    @apply rounded px-4 py-2 text-white;
}

.btn-primary {
    @apply bg-gray-600;

    &:hover {
        @apply bg-gray-800
    }
}

.sidebar-main {
    @apply bg-gray-800 fixed h-screen w-16;
}

.navbar-main {
    @apply bg-white h-16 ml-16 px-4 flex flex-row items-center justify-between border-b-2 text-gray-300;
}

.sub-navbar-main {
    @apply bg-white h-8 ml-16 px-4 flex flex-row items-center justify-between border-b-2 text-gray-300;
}

.content-main {
    @apply pl-20 pt-5 pr-4;
}

.item-navbar {
    @apply cursor-pointer ml-1 px-2 py-0.5;

    &:hover {
        @apply rounded bg-gray-50;
    }
}