<div class="navbar-main">
    <div class="flex flex-row">
        <div class="text-2xl font-semibold cursor-pointer" routerLink="admin/dashboard">
            CRM
        </div>
    </div>
    <div class="flex flex-row">
        <div class="item-navbar">Item 1</div>
        <div class="item-navbar">Item 2</div>
        <div class="item-navbar">Item 3</div>
        <div class="item-navbar">Item 4</div>
        <div class="item-navbar">Item 5</div>
    </div>
</div>
<div class="sub-navbar-main">
    <div></div>
    <div class="flex flex-row">
        <div class="item-navbar text-sm">Item 2</div>
        <div class="item-navbar text-sm">Item 3</div>
        <div class="item-navbar text-sm">Item 4</div>
        <div class="item-navbar text-sm">Item 5</div>
    </div>
</div>